.stackBlock{
    max-width: 760px;
    margin: auto;
}

.stackBlockElement{
    margin: 10px 0;
    border-radius: 9px;
    border: none;
    cursor: pointer;
}

.stackBlockElement span{
    color: white;
}
